# For integration tests only
version: "3.6"

services:
  mongo:
    image: mongo:8@sha256:7245ffb851d149dbfac67397caf91bae4974d899972f9fd1d8985fc6eea3c13d

  scraper:
    build:
      context: .
    depends_on:
      - mongo
    environment:
      MONGODB_CONNECTION_STRING: mongodb://mongo:27017/ssu-criminals
